.blogDetails {
  padding: 60px 20px;
  background-color: #f9f9f9;
  height: 100%;
  margin-top: 1rem;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  align-items: start;
}

.left {
  color: #333;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.7;
}

.fullContent {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.7;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 20px;
  margin-top: 20px;
  font-size: 1rem;
}

.brandCard {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  object-fit: contain;
  margin-bottom: 12px;
}

.brandName {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 12px;
}

.imageWrapper {
  position: relative;
  height: 327px;
  width: 34vw;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
}

.meta {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.author {
  font-weight: bold;
  color: #14b4dc;
}

.date {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 1.5rem;
  }

  .brandCard {
    margin-top: 40px;
  }
  .imageWrapper {
    width: 100%;
  }
}
