.Card {
  background-color: #fff;
}

/* Add in either roomcard.module.css or card.module.css */
.thumbnailContainer {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16/9;
}

.thumbnailContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.thumbnailContainer:hover img {
  transform: scale(1.1);
}
