.aboutSection {
  padding: 60px 0px;
  background-color: #fff;
}

@media (min-width: 720px) {
  .aboutContainer {
    display: flex;
    justify-content: space-between;
    gap: 56px;
  }
}

.aboutContainer p {
  text-align: justify;
  line-height: 1.8;
  font-size: 18px;
  color: #333;
}

.gallery {
  width: 100%;
}

.gallery div {
  position: relative;
  aspect-ratio: 16/9;
}

@media (min-width: 720px) {
  .gallery {
    width: 55%;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.gallery img {
  width: 100%;
  aspect-ratio: 16/9;
}

.about {
  width: 100%;
}

.about div {
  position: relative;
  aspect-ratio: 1;
}

@media (min-width: 720px) {
  .about {
    width: 30%;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.about img {
  width: 100%;
  /* aspect-ratio: 16/9;
   */
  position: absolute;
  height: 82% !important;
  width: 79% !important;
  inset: 0px;
  color: transparent;
}

.gallerySection {
  background-color: #fff;
  padding: 60px 0px;
  position: relative;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.thumbnail {
  overflow: hidden;
  position: relative;
  aspect-ratio: 16/9;
  width: 100%;
  height: fit-content;
}

.thumbnail img {
  width: 100%;
  aspect-ratio: 4/3;
  transition: all 300ms linear;
}

.thumbnail img:hover {
  transform: scale(1.2);
}
